{% extends "layout.html" %}
{% block body %}

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">About me</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <p>For the past 3 years, I've been studying data science using mostly python. I love what I learn as every day there is something new and exciting opportunities to learn. I possess the knowledge of Python, VBA and SQL.</p>
                  <p>In my spare time, the artificial intelligence and machine learning development community is a big part of my life. Whether doing projects or blogs, it helps me stay up to date.
                  <p>
                  Besides programming I love spending time with my friends and family and can often be found together going out catching the latest movie, staying in playing games on the sofa or planning a trip to someplace I've never been before.</p>
                  <p>I graduated from Delhi university where I studied B.com and got a degree with honours. When not at work I'm usually working on a new project from home which could be anything to learn new ways to enhance my skills. Since leaving university I've been lucky enough to work at GENPACT INDIA PVT LTD.</p>
                  <p>I spend a lot of time learning with communities and groups about new techniques advancements in artificial intelligence and machine learning and advanced algorithms.</p>
                </div>
                <div class="col-xs-12 col-md-6">
                  <img src="https://source.unsplash.com/400x600/?galaxy" class="img-responsive" alt="">
                </div>
              </div>
            </div>
          </div>
          
          
       </div>
      </div>
    </div>
  </div>

  {% endblock %}