{% extends "layout.html" %}
{% block body %}

<div class="section-container">
  <div class="container">
    <div class="row">
      
      <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
        <div class="text-center">
          <h1 class="h2">Projects</h1>
          <p>Here are some projects i have been working for a while. Take a look.</p>
        </div>
      </div>

      <div class="col-md-12">
     
      <div id="myCarousel" class="carousel slide projects-carousel">
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                    <div class="col-sm-4">

                      <a href="./tensorflow-basics.html" title="" class="black-image-project-hover">
                        <img src="./static/img/work01-hover.jpg" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h3>TensorFlow Basics</h3>
                        <p>TensorFlow is an end-to-end open source platform for machine learning. It has a comprehensive, flexible ecosystem of tools, libraries and community resources that lets researchers push the state-of-the-art in ML and developers easily build and deploy ML powered applications.</p>
                        <a href="./tensorflow-basics.html" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a href="./pytorch-intro.html" title="" class="black-image-project-hover">
                        <img src="./static/img/work02-hover.jpg" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h3>Intro to Deep Learning with PyTorch</h3>
                        <p>PyTorch is an open source machine learning library based on the Torch library, used for applications such as computer vision and natural language processing, primarily developed by Facebook's AI Research lab (FAIR).</p>
                        <a href="./pytorch-intro.html" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a href="./kerasintro.html" title="" class="black-image-project-hover">
                        <img src="./static/img/work03-hover.jpg" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h3>Keras: the Python deep learning API</h3>
                        <p>Keras is an API designed for human beings, not machines. Keras follows best practices for reducing cognitive load: it offers consistent & simple APIs, it minimizes the number of user actions required for common use cases, and it provides clear & actionable error messages. It also has extensive documentation and developer guides.</p>
                        <a href="./kerasintro.html" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    
                </div>
                <!--/row-->
            </div>
            <!--/item-->



            <div class="item">
                 <div class="row">


                    <div class="col-sm-4">
                      <a href="./opencv-intro.html" title="" class="black-image-project-hover">
                        <img src="./static/img/opencv1.png" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h3>Face Detection using OpenCV</h3>
                        <p>OpenCV (Open Source Computer Vision Library) is a library of programming functions mainly aimed at real-time computer vision. Originally developed by Intel, it was later supported by Willow Garage then Itseez (which was later acquired by Intel). The library is cross-platform and free for use under the open-source BSD license.</p>
                        <a href="./opencv-intro.html" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>

                    <div class="col-sm-4">
                      <a href="./x-ray-pneumonia.html" title="" class="black-image-project-hover">
                        <img src="./static/img/x-ray-pnemonia1.png" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h3>Deep Learning model to detect pneumonia from X-ray Images using Pytorch</h3>
                        <p>The WHO estimates that over 4 million premature deaths occur annually from household air pollution-related diseases including pneumonia. Over 150 million people get infected with pneumonia on an annual basis especially children under 5 years old.</p>
                        <a href="./x-ray-pneumonia.html" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    

                </div>
                <!--/row-->
            </div>
            <!--/item-->



        </div>
        <!--/carousel-inner--> 
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
     </div>



    <!--/myCarousel-->
    </div>



    </div>
  </div>
</div>
{% endblock %}
