{% extends "layout.html" %}
{% block body %}

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./static/img/opencv2.png" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">Face Detection using OpenCV</h1>
          </div>
            <small class="pull-right"></small>
          </blockquote>
        </div>
      </div>
        <div class="centering-text">
        <p>OpenCV (Open Source Computer Vision Library) is a library of programming functions mainly aimed at real-time computer vision.[1] Originally developed by Intel, it was later supported by Willow Garage then Itseez (which was later acquired by Intel). The library is cross-platform and free for use under the open-source BSD license.</p>
        <h3>History</h3>
        <p>Officially launched in 1999 the OpenCV project was initially an Intel Research initiative to advance CPU-intensive applications, part of a series of projects including real-time ray tracing and 3D display walls.[3] The main contributors to the project included a number of optimization experts in Intel Russia, as well as Intel's Performance Library Team. In the early days of OpenCV, the goals of the project were described[4] as:</p>
        
        <ul>
          <li>Advance vision research by providing not only open but also optimized code for basic vision infrastructure. No more reinventing the wheel.</li>
            <li>Disseminate vision knowledge by providing a common infrastructure that developers could build on, so that code would be more readily readable and transferable.</li>
            <li>Advance vision-based commercial applications by making portable, performance-optimized code available for free – with a license that did not require code to be open or free itself.</li>

        </ul>
        <p>The first alpha version of OpenCV was released to the public at the IEEE Conference on Computer Vision and Pattern Recognition in 2000, and five betas were released between 2001 and 2005. The first 1.0 version was released in 2006. A version 1.1 "pre-release" was released in October 2008.</p>
        <p>The second major release of the OpenCV was in October 2009. OpenCV 2 includes major changes to the C++ interface, aiming at easier, more type-safe patterns, new functions, and better implementations for existing ones in terms of performance (especially on multi-core systems). Official releases now occur every six months[5] and development is now done by an independent Russian team supported by commercial corporations.</p>
        <p>In August 2012, support for OpenCV was taken over by a non-profit foundation OpenCV.org, which maintains a developer[6] and user site. On May 2016, Intel signed an agreement to acquire Itseez,[8] a leading developer of OpenCV.[9]</p>

      <p>Now we know about OpenCV lets talk about how we can use this in face detection using opencv</p>
      <p>We will be doing face detection in python but first we need to install this library so we open the windows powershell and run the command 'pip install opencv-python'. This will install this library </p>
      
      <p>To see the code please visit <a href="https://github.com/AdityaMalhotra01/face-recognition" target="_blank">here.</a></p>
    </div>
      <div class="col-xs-12">
        <img src="./static/img/opencv3.png" class="centering-image" alt="">
      </div>


    </div>
  </div>
</div>
{% endblock %}