{% extends "layout.html" %}
{% block body %}

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./static/img/work01-hover.png" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">TensorFlow Basics</h1>
          </div>
            <small class="pull-right"></small>
          </blockquote>
        </div>
      </div>
      
        <div class="centering-text">
      <p>TensorFlow is an end-to-end open source platform for machine learning. It has a comprehensive, flexible ecosystem of tools, libraries and community resources that lets researchers push the state-of-the-art in ML and developers easily build and deploy ML powered applications.</p>
      <p>Starting in 2011, Google Brain built DistBelief as a proprietary machine learning system based on deep learning neural networks. Its use grew rapidly across diverse Alphabet companies in both research and commercial applications. Google assigned multiple computer scientists, including Jeff Dean, to simplify and refactor the codebase of DistBelief into a faster, more robust application-grade library, which became TensorFlow. In 2009, the team, led by Geoffrey Hinton, had implemented generalized backpropagation and other improvements which allowed generation of neural networks with substantially higher accuracy, for instance a 25% reduction in errors in speech recognition.</p>
        </div>

      <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <img src="./static/img/tensorflow.png" class="img-responsive" alt="no img">
          </div>
          <div class="col-xs-12 col-md-6">
            <img src="./static/img/tensorflow2.png" class="img-responsive" alt="">
          </div>
        </div>
      </div>
      <br clear="all" />

        <div class="centering-text">
        <p>TensorFlow is Google Brain's second-generation system. Version 1.0.0 was released on February 11, 2017.While the reference implementation runs on single devices, TensorFlow can run on multiple CPUs and GPUs (with optional CUDA and SYCL extensions for general-purpose computing on graphics processing units). TensorFlow is available on 64-bit Linux, macOS, Windows, and mobile computing platforms including Android and iOS.</p>
        <p>Its flexible architecture allows for the easy deployment of computation across a variety of platforms (CPUs, GPUs, TPUs), and from desktops to clusters of servers to mobile and edge devices.</p>
        <p>TensorFlow computations are expressed as stateful dataflow graphs. The name TensorFlow derives from the operations that such neural networks perform on multidimensional data arrays, which are referred to as tensors. During the Google I/O Conference in June 2016, Jeff Dean stated that 1,500 repositories on GitHub mentioned TensorFlow, of which only 5 were from Google.</p>
        <p>In December 2017, developers from Google, Cisco, RedHat, CoreOS, and CaiCloud introduced Kubeflow at a conference. Kubeflow allows operation and deployment of TensorFlow on Kubernetes.</p>
        <p>In March 2018, Google announced TensorFlow.js version 1.0 for machine learning in JavaScript.</p>
        <p>In Jan 2019, Google announced TensorFlow 2.0. It became officially available in Sep 2019.In May 2019, Google announced TensorFlow Graphics for deep learning in computer graphics.</p>
        <p>As TensorFlow's market share among research papers was declining to the advantage of PyTorch.TensorFlow Team announced a release of a new major version of the library in September 2019. TensorFlow 2.0 introduced many changes, the most significant being TensorFlow eager, which changed the automatic differentiation scheme from the static computational graph, to the "Define-by-Run" scheme originally made popular by Chainer and later PyTorch. Other major changes included removal of old libraries, cross-compatibility between trained models on different versions of TensorFlow, and significant improvements to the performance on GPU.</p>
        <h3>Basics of machine learning with TensorFlow</h3>
        <p>Before starting on the learning materials below, please be sure to:</p>
        <ul>
          <li>	Have software development experience, particularly in Python
            This curriculum is for people who are:
            </li>
            <li>New to ML, but who have a computer science or development background</li>
        </ul>
        <p>This content is intended to guide developers new to ML through the beginning stages of their ML journey. You will see that many of the resources use TensorFlow, however, the knowledge is transferable to other machine learning frameworks.	</p>
        <p>TensorFlow 2.0 is designed to make building neural networks for machine learning easy, which is why TensorFlow 2.0 uses an API called Keras. The book ‘Deep Learning in Python’ by Francois Chollet, creator of Keras, is a great place to get started. Read chapters 1-4 to understand the fundamentals of ML from a programmer’s perspective. The second half of the book delves into areas like Computer Vision, Natural Language Processing, Generative Deep Learning, and more. Don’t worry if these topics are too advanced right now as they will make more sense in due time.</p>
    </div>
    </div>
  </div>
</div>
{% endblock %}